@function pxvw($px) {
    @return $px / 375 * 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
dl {
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 15px;
}

body {
    position: relative;
}

 ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ccc;
}

 :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}

 ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ccc;
}


/* header */

.topbar {
    width: 100%;
    background: #D43C33;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 10px;
    .topbar-logo {
        .topsvg {
            margin-top: pxvw(6);
            height: 25px;
            width: 142px;
            fill: #fff;
        }
    }
    .btn-download {
        text-decoration: none;
        text-align: center;
        color: #fff;
        line-height: 28px;
        padding: 0 10px;
        border: 1px solid rgba(255, 255, 255, .6);
        border-radius: pxvw(16);
    }
}


/* 主体 */

main {
    /* padding-top: 40px; */
}

.site-nav {
    position: sticky;
    width: 100%;
    top: 64px;
    left: 0;
    background: #fff;
    z-index: 100;
    border-bottom: 1px solid #E8E8E8;
    ol {
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        li {
            position: relative;
            flex: 1;
            width: 33%;
            text-align: center;
            height: 100%;
            display: inline-block;
            span {
                padding-top: 11px;
                line-height: 20px;
                display: inline-block;
            }
            &.selected span {
                position: relative;
                color: #D43C33;
            }
            &.selected span::after {
                content: "";
                display: block;
                position: absolute;
                bottom: -9px;
                left: pxvw(-5.5);
                right: pxvw(-5.5); // width:100%;
                border-bottom: solid #D43C33 .5vw;
            }
        }
    }
}

.h2-title {
    font-size: 17px;
    font-weight: 400;
    width: 100%;
    margin: 22px 0 15px;
    position: relative;
    line-height: 1;
    padding-left: 9px;
    &::after {
        display: block;
        content: "";
        height: 100%;
        position: absolute;
        border-left: 2px solid #D43C33;
        top: pxvw(-1);
        left: 0;
    }
}


/* 歌单 */

.song-list {
    a {
        font-size: 17px;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:visited {
            text-decoration: none;
            color: #000;
        }
    }
    .song-item {
        border-bottom: 1px solid #F1F1F2;
        margin-left: pxvw(10);
        padding: pxvw(6) 0;
        .song-infos {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .sg-title {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                span {
                    overflow: hidden;
                    color: #888;
                }
            }
            .sg-singer {
                font-size: 12px;
                color: #888;
                display: flex;
                align-items: center;
                .icon.sq {
                    width: pxvw(20);
                    height: pxvw(15);
                    fill: #FE672E;
                    margin-left: pxvw(-2)
                }
            }
        }
        .song-icon-play {
            padding-right: pxvw(10);
            padding-left: pxvw(4);
            padding-top: pxvw(8);
            svg {
                fill: #aaa;
                width: pxvw(22);
                height: pxvw(22)
            }
        }
    }
}

article.container {
    >section {
        display: none;
        &.active {
            display: block;
        }
    }
}


/* 推荐歌单 */

.music-recmd {
    .play-lists {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        ul>li {
            width: 32.9%;
            position: relative;
            margin-bottom: pxvw(12);
            img {
                width: 100%;
            }
            p {
                font-size: 13px;
                padding: pxvw(1) pxvw(4);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                line-height: 1.25em;
                max-height: 2.5em;
            }
            .plays {
                position: absolute;
                z-index: 5;
                right: pxvw(6);
                top: pxvw(4);
                font-size: 12px;
                color: #fff;
                line-height: 1;
                background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMCI+PGcgb3BhY2l0eT0iLjE1Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwNDAwMDAiIGQ9Im0yMiAxNi43NzdjMCAxLjIzMy0xLjEyMSAyLjIzMy0yLjUwNiAyLjIzMy0xLjM4NCAwLTIuNTA2LTEtMi41MDYtMi4yMzN2LTIuNTUzYzAtMS4yMzQgMS4xMjItMi4yMzMgMi41MDYtMi4yMzMuMTc0IDAgLjM0My4wMTcuNTA2LjA0NnYtMS4zN2gtLjAzM2MuMDE3LS4yMi4wMzMtLjQ0MS4wMzMtLjY2NiAwLTQuNDE4LTMuNTgyLTgtOC04LTQuNDE4IDAtOCAzLjU4Mi04IDggMCAuMjI1LjAxNi40NDYuMDM0LjY2NmgtLjAzNHYxLjM3Yy4xNjMtLjAyOS4zMzMtLjA0Ni41MDUtLjA0NiAxLjM4NCAwIDIuNTA2Ljk5OSAyLjUwNiAyLjIzM3YyLjU1M2MwIDEuMjMzLTEuMTIyIDIuMjMzLTIuNTA2IDIuMjMzcy0yLjUwNS0uOTk5LTIuNTA1LTIuMjMzdi0yLjU1M2MwLS4yNTguMDU5LS41MDEuMTQ4LS43My0uMDg1LS4xNDgtLjE0OC0uMzEtLjE0OC0uNDkzdi0yLjY2N2MwLS4wMjMuMDEyLS4wNDMuMDEzLS4wNjctLjAwNC0uMDg4LS4wMTMtLjE3Ni0uMDEzLS4yNjYgMC01LjUyMyA0LjQ3Ny0xMCAxMC0xMCA1LjUyMyAwIDEwIDQuNDc3IDEwIDEwIDAgLjA5LS4wMDkuMTc4LS4wMTQuMjY2LjAwMi4wMjQuMDE0LjA0NC4wMTQuMDY3djJjMCAuMzA2LS4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvZz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNmZmYiIGQ9Im0yMCAxNi43NzdjMCAxLjIzMy0xLjEyMSAyLjIzMy0yLjUwNiAyLjIzMy0xLjM4NCAwLTIuNTA2LTEtMi41MDYtMi4yMzN2LTIuNTUzYzAtMS4yMzQgMS4xMjItMi4yMzMgMi41MDYtMi4yMzMuMTc0IDAgLjM0My4wMTcuNTA2LjA0NnYtMS4zN2gtLjAzM2MuMDE3LS4yMi4wMzMtLjQ0MS4wMzMtLjY2NiAwLTQuNDE4LTMuNTgyLTgtOC04LTQuNDE4IDAtOCAzLjU4Mi04IDggMCAuMjI1LjAxNi40NDYuMDM0LjY2NmgtLjAzNHYxLjM3Yy4xNjMtLjAyOS4zMzMtLjA0Ni41MDUtLjA0NiAxLjM4NCAwIDIuNTA2Ljk5OSAyLjUwNiAyLjIzM3YyLjU1M2MwIDEuMjMzLTEuMTIyIDIuMjMzLTIuNTA2IDIuMjMzcy0yLjUwNS0uOTk5LTIuNTA1LTIuMjMzdi0yLjU1M2MwLS4yNTguMDU5LS41MDEuMTQ4LS43My0uMDg1LS4xNDgtLjE0OC0uMzEtLjE0OC0uNDkzdi0yLjY2N2MwLS4wMjMuMDEyLS4wNDMuMDEzLS4wNjctLjAwNC0uMDg4LS4wMTMtLjE3Ni0uMDEzLS4yNjYgMC01LjUyMyA0LjQ3Ny0xMCAxMC0xMCA1LjUyMyAwIDEwIDQuNDc3IDEwIDEwIDAgLjA5LS4wMDkuMTc4LS4wMTQuMjY2LjAwMi4wMjQuMDE0LjA0NC4wMTQuMDY3djJjMCAuMzA2LS4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvc3ZnPg==) 0 no-repeat;
                background-size: 11px 10px;
                padding-left: 12px;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), transparent);
                height: pxvw(20);
                z-index: 4;
            }
        }
    }
}


/* 最新音乐 */

.lastest-music {
    padding-bottom: pxvw(4);
}


/* 广告 */

.art {
    padding-top: pxvw(60);
    padding-bottom: pxvw(17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(http://orzqfde1a.bkt.clouddn.com/recommand_bg_2x.png) no-repeat;
    background-size: cover;
    .art-logo {
        display: flex;
        justify-content: center;
        align-content: center;
        svg {
            width: 230px;
            height: 44px;
        }
    }
    a {
        color: #D43C33;
        padding: pxvw(8) pxvw(20);
        font-size: 16px;
        border: 1px solid #D43C33;
        border-radius: pxvw(38);
        text-decoration: none;
        margin: pxvw(14) pxvw(40) pxvw(4);
        text-align: center;
        &::visited {
            text-decoration: none;
            color: #D43C33;
        }
    }
    .copyright {
        text-align: center;
        font-size: 12px;
        color: #888;
        transform: scale(.75)
    }
}


/* 热歌榜 */

.hot-list {
    .hl-wrapper {
        background: url(http://orzqfde1a.bkt.clouddn.com/hot_music_bg_2x.jpg) no-repeat;
        background-size: cover;
        position: relative;
        padding-top: pxvw(146);
        .dimmer {
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, .2);
            top: 0;
            left: 0;
            z-index: 10;
        }
    }
    .hl-banner {
        /*padding-top: 38.9%;*/
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: pxvw(25) pxvw(20);
        color: #fff;
        .hl-logo {
            background: url(http://orzqfde1a.bkt.clouddn.com/index_icon_2x.png?) no-repeat;
            background-size: 166px 97px;
            width: 142px;
            height: 67px;
            background-position: -24px -30px;
        }
        .hl-updatetime {
            margin-top: pxvw(10);
            font-size: 12px;
            transform-origin: left top;
            transform: scale(.91);
        }
    }
    .song-rank {
        font-size: 17px;
        color: #999;
        position: absolute;
        top: 0;
        transform: translateX(10%);
        left: -9%;
        height: 100%;
        display: flex;
        align-items: center;
        &.top {
            color: #DF3436;
        }
    }
    .song-item {
        margin-left: 10%;
        position: relative;
    }
    .show-all {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: #999;
        padding: pxvw(20);
    }
}


/* 搜索 */

.search {
    
    form {
        padding: pxvw(15) pxvw(10);
        border-bottom: 1px solid #F0F1F2;
        .input-container {
            display: flex;
            width: 100%;
            background: #EBECEC;
            justify-content: center;
            border-radius: pxvw(30);
        }
        .left {
            width: 10%;
        }
        input {
            flex: 1;
            outline: none;
            border: none;
            width: 80%;
            height: pxvw(30);
            background: transparent;
            line-height: pxvw(18);
            font-size: 14px;
            color: #333;
        }
    }
}