@function pxvw($px) {
    @return $px / 375 * 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,
body {
    height: 100%;
    background: transparent;
    font-size: 13px;
    @media(max-width: 375px) {
        font-size: 15px
    }
    ;
}

@keyframes turning {
    from {
        transform: rotateZ(0deg)
    }
    to {
        transform: rotateZ(360deg)
    }
}

.page {
    min-width: pxvw(375);
    height: 100%;
    position: relative;
    background: transparent no-repeat;
    margin-top: 0;
    opacity: 1;
    overflow: hidden;
    .background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: transparent no-repeat;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: auto 100%;
        transform: scale(1.5);
        transform-origin: center top;
        &:after {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, .6);
        }
    }
}

.crook {
    position: absolute;
    background-image: url(http://orzqfde1a.bkt.clouddn.com/needle.png);
    background-size: contain;
    top: pxvw(-70);
    left: pxvw(132);
    z-index: 5;
    width: pxvw(100);
    height: pxvw(140);
}

.disc-wrapper {
    position: relative;
    margin: 0 auto;
    height: pxvw(295);
    width: pxvw(295);
    background-size: pxvw(295);
    .song-cover {}
    .disc-turner {
        width: 100%;
        height: 100%;
        animation-name: turning;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;
        .ring,
        .light,
        .song-cover {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .ring {
            z-index: 1;
        }
        .light {
            z-index: 2;
        }
        .song-cover {
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: pxvw(184);
            height: pxvw(184);
            margin: auto;
            img {
                vertical-align: middle;
                width: 100%;
            }
        }
    }
}

.jukebox-container {
    position: relative;
    margin-top: pxvw(70);
    &.playing {
        .disc-wrapper .disc-turner {
            animation-play-state: running;
        }
        .disc-switch .icon-play {
            display: none;
        }
        .disc-switch .icon-pause {
            display: flex;
        }
        .disc-switch .icon-loading {
            opacity: 0;
        }
    }
}

.disc-switch {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: pxvw(57);
    height: pxvw(57);
    border-radius: 50%;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, .4);
    transition: 2s ease;
    &.ready {
        border: none;
        background: transparent;
    }
    &.ready .icon-play,
    &.ready .icon-pause {
        opacity: 0;
    }
    .icon-play,
    .icon-pause,
    .icon-loading {
        transition: 2s ease;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
    }
    .icon-play {
        display: flex;
    }
    .icon-pause {
        display: none;
    }
    .icon-loading {
        position: absolute;
        z-index: 50;
        animation-name: turning;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        .icon.loading {
            width: pxvw(40);
            height: pxvw(40);
        }
    }
    .icon {
        width: pxvw(25);
        height: pxvw(25);
        fill: #fff;
        display: block;
    }
    .icon.play {
        margin-left: pxvw(4);
    }
}

.song-info {
    margin-top: pxvw(20);
    padding: 0 pxvw(35);
    color: white;
    text-align: center;
    .song-header {
        font-size: 16px;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        word-break: normal;
        text-overflow: ellipsis;
        @media(min-width: 375px) {
            font-size: 18px;
        }
        .song-name {}
        .song-gap {}
        .song-author {
            color: rgba(255, 255, 255, 0.6);
        }
    }
    .song-lyrics {
        margin-top: pxvw(14);
        overflow: hidden;
        height: 88px;
        .lrc-scroll {
            transition: 0.5s linear;
        }
        p {
            color: rgba(255, 255, 255, 0.6);
            // height: 28px;
            line-height: 2;
            transition: .6s linear;
            @media (max-width:374px){
                font-size: 13px;
                line-height: 1.7;
            }
            // padding: pxvw(7) 0;
            &.active {
                color: rgba(255, 255, 255, 1);
                transform: scale(1.2);
            }
        }
    }
}

.links {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 20px;
    padding: 0 30px;
    display: flex;
    .button {
        line-height: 34px;
        flex: 1 auto;
        text-align: center;
        letter-spacing: 2px;
        font-size: 16px;
        border-radius: 4px;
        text-decoration: none;
    }
    .btn-open {
        color: rgb(212, 59, 50);
        border: rgb(212, 59, 50) 1px solid;
        margin-right: 14px;
    }
    .btn-download {
        color: #fff;
        background: rgb(212, 59, 50);
    }
}